n8n-import-credentials-from-github.json
{
  "name": "Auto Import n8n Credentials from GitHub (API)",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        240,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "global-owner",
              "name": "repo.owner",
              "type": "string",
              "value": "n8n-io"
            },
            {
              "id": "global-name",
              "name": "repo.name",
              "type": "string",
              "value": "n8n-backups"
            },
            {
              "id": "global-path",
              "name": "repo.path",
              "type": "string",
              "value": "credentials/n8n_backup_credentials.json"
            },
            {
              "id": "n8n-api-key",
              "name": "n8nApiKey",
              "type": "string",
              "value": "YOUR_N8N_API_KEY_HERE"
            },
            {
              "id": "n8n-url",
              "name": "n8nUrl",
              "type": "string",
              "value": "https://your-n8n-instance.com"
            }
          ]
        },
        "options": {}
      },
      "id": "globals-config",
      "name": "Globals - Config",
      "type": "n8n-nodes-base.set",
      "position": [
        460,
        300
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $json.repo.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $json.repo.name }}",
          "mode": "name"
        },
        "filePath": "={{ $json.repo.path }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "github-get-credentials",
      "name": "GitHub Get Credentials File",
      "type": "n8n-nodes-base.github",
      "position": [
        680,
        300
      ],
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Decode and parse credentials from GitHub\nconst fileContent = $input.first().json;\nconst globals = $('Globals - Config').first().json;\n\nif (!fileContent.content) {\n  throw new Error('No content found in GitHub file response');\n}\n\nconst decodedContent = Buffer.from(fileContent.content, 'base64').toString('utf-8');\nconst credentialsData = JSON.parse(decodedContent);\n\nif (!Array.isArray(credentialsData)) {\n  throw new Error('Invalid credentials format: expected an array');\n}\n\nif (!globals.n8nApiKey || globals.n8nApiKey === 'YOUR_N8N_API_KEY_HERE') {\n  throw new Error('⚠️ Please set your n8n API Key in the Globals - Config node!');\n}\n\nif (!globals.n8nUrl || globals.n8nUrl.includes('your-n8n-instance')) {\n  throw new Error('⚠️ Please set your n8n URL in the Globals - Config node!');\n}\n\nreturn credentialsData.map((credential) => ({\n  json: {\n    credential,\n    n8nApiKey: globals.n8nApiKey,\n    n8nUrl: globals.n8nUrl,\n  },\n}));"
      },
      "id": "code-split-credentials",
      "name": "Split Credentials for Loop",
      "type": "n8n-nodes-base.code",
      "position": [
        900,
        300
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "={{ $json.n8nUrl }}/api/v1/credentials",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $json.n8nApiKey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.credential.name }}"
            },
            {
              "name": "type",
              "value": "={{ $json.credential.type }}"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify($json.credential.data) }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "http-create-credential",
      "name": "Create Credential via API",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1120,
        300
      ],
      "typeVersion": 4.2,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Collect results from HTTP requests\nconst allItems = $input.all();\n\nconst results = {\n  successful: [],\n  failed: [],\n  total: allItems.length,\n};\n\nfor (const item of allItems) {\n  const credentialName = item.json.credential?.name ?? 'Unknown';\n\n  if (item.json.error) {\n    results.failed.push({\n      name: credentialName,\n      error: item.json.error.message ?? 'Unknown error',\n    });\n  } else if (item.json.id) {\n    results.successful.push({\n      name: credentialName,\n      id: item.json.id,\n    });\n  } else {\n    results.failed.push({\n      name: credentialName,\n      error: 'No ID returned - might already exist',\n    });\n  }\n}\n\nconst isSuccess = results.failed.length === 0;\n\nreturn {\n  json: {\n    status: isSuccess ? '✅ Success' : (results.successful.length > 0 ? '⚠️ Partial Success' : '❌ Failed'),\n    message: `Imported ${results.successful.length} of ${results.total} credentials from GitHub`,\n    successful: results.successful.length,\n    failed: results.failed.length,\n    total: results.total,\n    details: {\n      successful: results.successful,\n      failed: results.failed,\n    },\n    timestamp: new Date().toISOString(),\n    source: 'GitHub',\n    method: 'n8n API',\n  },\n};"
      },
      "id": "code-aggregate-results",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "position": [
        1340,
        300
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger (Every 6 hours)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        240,
        480
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## Auto Import n8n Credentials from GitHub (API Method)\n\n### 🚀 Benefits:\n- ✅ No file system access required\n- ✅ Works with strict security policies\n- ✅ Uses n8n REST API - fully supported\n- ✅ Detailed success/failure per credential\n\n### 🔧 Setup Instructions:\n1. Edit `Globals - Config`:\n   - `repo.owner` - GitHub username or org\n   - `repo.name` - Repository name\n   - `repo.path` - Path to credentials file (e.g., credentials/n8n_backup_credentials.json)\n   - `n8nApiKey` - Get from n8n → Settings → API\n   - `n8nUrl` - Your n8n URL (https://…)\n\n2. Configure GitHub credentials for the GitHub node\n\n3. Trigger: Manual or schedule (every 6 hours by default)",
        "height": 640,
        "width": 420,
        "color": 4
      },
      "id": "sticky-info",
      "name": "📝 Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        140,
        550
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📥 Get from GitHub",
        "height": 240,
        "width": 360,
        "color": 5
      },
      "id": "sticky-note-github",
      "name": "Sticky Note - GitHub",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🔄 Process & Loop",
        "height": 240,
        "width": 700,
        "color": 6
      },
      "id": "sticky-note-process",
      "name": "Sticky Note - Process",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        820,
        220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📥 Import via API",
        "height": 240,
        "width": 320,
        "color": 3
      },
      "id": "sticky-note-result",
      "name": "Sticky Note - Import",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1200,
        220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ⚠️ Edit This Node\nSet GitHub repo + n8n API key + n8n URL",
        "height": 120,
        "width": 180,
        "color": 7
      },
      "id": "sticky-note-edit",
      "name": "Sticky Note - Edit Here",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        420,
        160
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Globals - Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger (Every 6 hours)": {
      "main": [
        [
          {
            "node": "Globals - Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals - Config": {
      "main": [
        [
          {
            "node": "GitHub Get Credentials File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Get Credentials File": {
      "main": [
        [
          {
            "node": "Split Credentials for Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Credentials for Loop": {
      "main": [
        [
          {
            "node": "Create Credential via API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Credential via API": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "2"
}