n8n-import-credentials-from-github.json
{
  "name": "Auto Import n8n Credentials from GitHub",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        240,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "global-owner",
              "name": "repo.owner",
              "type": "string",
              "value": "valaqajoya93600"
            },
            {
              "id": "global-name",
              "name": "repo.name",
              "type": "string",
              "value": "n8n-backups"
            },
            {
              "id": "global-path",
              "name": "repo.path",
              "type": "string",
              "value": "credentials/n8n_backup_credentials.json"
            }
          ]
        },
        "options": {}
      },
      "id": "globals-config",
      "name": "Globals - Config",
      "type": "n8n-nodes-base.set",
      "position": [
        460,
        300
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $json.repo.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $json.repo.name }}",
          "mode": "name"
        },
        "filePath": "={{ $json.repo.path }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "github-get-credentials",
      "name": "GitHub Get Credentials File",
      "type": "n8n-nodes-base.github",
      "position": [
        680,
        300
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "FX4b1RFeJSUsbfGI",
          "name": "GitHub valaqajoya93600"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Decode base64 content from GitHub\nconst base64Content = $input.first().json.content;\nconst decodedContent = Buffer.from(base64Content, 'base64').toString('utf-8');\n\n// Parse JSON to verify it's valid\nconst credentialsData = JSON.parse(decodedContent);\n\n// Return as string for file writing\nreturn {\n  json: {\n    credentials: credentialsData,\n    credentialsString: JSON.stringify(credentialsData, null, 2),\n    fileName: 'temp_credentials_import.json'\n  }\n};"
      },
      "id": "code-parse-json",
      "name": "Parse Credentials JSON",
      "type": "n8n-nodes-base.code",
      "position": [
        900,
        300
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "fileName": "={{ $json.fileName }}"
        }
      },
      "id": "convert-to-file",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        1120,
        300
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/{{ $json.fileName }}",
        "options": {}
      },
      "id": "write-file",
      "name": "Write to Temp File",
      "type": "n8n-nodes-base.writeReadFile",
      "position": [
        1340,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "command": "=npx n8n import:credentials --input=/tmp/{{ $json.fileName }}"
      },
      "id": "execute-import",
      "name": "Execute Import Command",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        1560,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Parse the output from the import command\nconst stdout = $input.first().json.stdout || '';\nconst stderr = $input.first().json.stderr || '';\n\n// Check for success indicators\nconst isSuccess = stdout.includes('Successfully imported') || stdout.includes('credentials imported');\n\n// Extract imported count if available\nconst countMatch = stdout.match(/(\\d+)\\s+credential/i);\nconst importedCount = countMatch ? parseInt(countMatch[1]) : 0;\n\nreturn {\n  json: {\n    status: isSuccess ? 'success' : 'warning',\n    message: isSuccess ? `Successfully imported ${importedCount} credentials` : 'Import completed with warnings',\n    stdout: stdout,\n    stderr: stderr,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "code-format-result",
      "name": "Format Result",
      "type": "n8n-nodes-base.code",
      "position": [
        1780,
        300
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "command": "=rm -f /tmp/{{ $('Parse Credentials JSON').item.json.fileName }}"
      },
      "id": "cleanup-temp-file",
      "name": "Cleanup Temp File",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        2000,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger (Every 6 hours)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        240,
        480
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## Auto Import n8n Credentials from GitHub\n\nThis workflow automatically imports credentials from GitHub backup into your n8n instance.\n\n### Setup Instructions:\n\n1. **Edit the Globals node** and set:\n   - `repo.owner` - Your GitHub username\n   - `repo.name` - Your backup repository name\n   - `repo.path` - Path to credentials file (e.g., credentials/n8n_backup_credentials.json)\n\n2. **Configure GitHub credentials** in the GitHub node\n\n3. **Choose trigger**:\n   - Manual: Run on-demand\n   - Schedule: Auto-import every 6 hours\n\n### How it works:\n\n1. Fetches credentials file from GitHub\n2. Decodes and validates JSON\n3. Writes to temporary file\n4. Runs `npx n8n import:credentials`\n5. Cleans up temporary file\n6. Returns import status\n\n### Requirements:\n\n- GitHub credentials with repo access\n- n8n CLI available in the environment\n- Write permissions to /tmp directory",
        "height": 620,
        "width": 400,
        "color": 4
      },
      "id": "sticky-note-info",
      "name": "📝 Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📥 Get from GitHub",
        "height": 240,
        "width": 360,
        "color": 5
      },
      "id": "sticky-note-github",
      "name": "Sticky Note - GitHub",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🔄 Process & Import",
        "height": 240,
        "width": 700,
        "color": 6
      },
      "id": "sticky-note-process",
      "name": "Sticky Note - Process",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        820,
        220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ✅ Cleanup & Result",
        "height": 240,
        "width": 320,
        "color": 3
      },
      "id": "sticky-note-result",
      "name": "Sticky Note - Result",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1700,
        220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ⚠️ Edit This Node\nSet your GitHub repo details here!",
        "height": 100,
        "width": 180,
        "color": 7
      },
      "id": "sticky-note-edit",
      "name": "Sticky Note - Edit Here",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        420,
        160
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Globals - Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger (Every 6 hours)": {
      "main": [
        [
          {
            "node": "Globals - Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals - Config": {
      "main": [
        [
          {
            "node": "GitHub Get Credentials File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Get Credentials File": {
      "main": [
        [
          {
            "node": "Parse Credentials JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Credentials JSON": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Write to Temp File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write to Temp File": {
      "main": [
        [
          {
            "node": "Execute Import Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Import Command": {
      "main": [
        [
          {
            "node": "Format Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Result": {
      "main": [
        [
          {
            "node": "Cleanup Temp File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
