n8n-import-credentials-from-google-drive.json
{
  "name": "Auto Import n8n Credentials from Google Drive (API)",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual-gd",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        240,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "drive-id",
              "name": "driveId",
              "type": "string",
              "value": "My Drive"
            },
            {
              "id": "folder-id",
              "name": "folderId",
              "type": "string",
              "value": "1p447S9MWYcRpA6dmfDe-Kdc3-d8L2Lzr"
            },
            {
              "id": "file-name",
              "name": "fileName",
              "type": "string",
              "value": "n8n_backup_credentials.json"
            },
            {
              "id": "n8n-api-key",
              "name": "n8nApiKey",
              "type": "string",
              "value": "YOUR_N8N_API_KEY_HERE"
            },
            {
              "id": "n8n-url",
              "name": "n8nUrl",
              "type": "string",
              "value": "https://your-n8n-instance.com"
            }
          ]
        },
        "options": {}
      },
      "id": "globals-config-gd",
      "name": "Globals - Config",
      "type": "n8n-nodes-base.set",
      "position": [
        460,
        300
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "search",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "={{ $json.driveId }}",
          "cachedResultName": "My Drive"
        },
        "filters": {
          "name": "={{ $json.fileName }}"
        },
        "options": {
          "fields": [
            "id",
            "name",
            "modifiedTime"
          ]
        }
      },
      "id": "search-file-gd",
      "name": "Search Credentials File",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        680,
        300
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {}
      },
      "id": "download-file-gd",
      "name": "Download Credentials File",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        900,
        300
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "id": "extract-json-gd",
      "name": "Extract JSON from File",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1120,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Process and validate credentials data\nconst credentialsArray = $input.first().json.data;\nconst globalConfig = $('Globals - Config').first().json;\n\nif (!Array.isArray(credentialsArray)) {\n  throw new Error('Invalid credentials format: expected an array');\n}\n\nif (!globalConfig.n8nApiKey || globalConfig.n8nApiKey === 'YOUR_N8N_API_KEY_HERE') {\n  throw new Error('⚠️ Please set your n8n API Key in the Globals - Config node!');\n}\n\nif (!globalConfig.n8nUrl || globalConfig.n8nUrl.includes('your-n8n-instance')) {\n  throw new Error('⚠️ Please set your n8n URL in the Globals - Config node!');\n}\n\nreturn credentialsArray.map((credential) => ({\n  json: {\n    credential,\n    n8nApiKey: globalConfig.n8nApiKey,\n    n8nUrl: globalConfig.n8nUrl,\n  },\n}));"
      },
      "id": "code-split-credentials",
      "name": "Split Credentials for Loop",
      "type": "n8n-nodes-base.code",
      "position": [
        1340,
        300
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "={{ $json.n8nUrl }}/api/v1/credentials",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $json.n8nApiKey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.credential.name }}"
            },
            {
              "name": "type",
              "value": "={{ $json.credential.type }}"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify($json.credential.data) }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "http-create-credential",
      "name": "Create Credential via API",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1560,
        300
      ],
      "typeVersion": 4.2,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Collect all results from the loop\nconst allItems = $input.all();\n\nconst results = {\n  successful: [],\n  failed: [],\n  total: allItems.length,\n};\n\nfor (const item of allItems) {\n  const credentialName = item.json.credential?.name ?? 'Unknown';\n\n  if (item.json.error) {\n    results.failed.push({\n      name: credentialName,\n      error: item.json.error.message ?? 'Unknown error',\n    });\n  } else if (item.json.id) {\n    results.successful.push({\n      name: credentialName,\n      id: item.json.id,\n    });\n  } else {\n    results.failed.push({\n      name: credentialName,\n      error: 'No ID returned - might already exist',\n    });\n  }\n}\n\nconst isSuccess = results.failed.length === 0;\n\nreturn {\n  json: {\n    status: isSuccess ? '✅ Success' : (results.successful.length > 0 ? '⚠️ Partial Success' : '❌ Failed'),\n    message: `Imported ${results.successful.length} of ${results.total} credentials from Google Drive`,\n    successful: results.successful.length,\n    failed: results.failed.length,\n    total: results.total,\n    details: {\n      successful: results.successful,\n      failed: results.failed,\n    },\n    timestamp: new Date().toISOString(),\n    source: 'Google Drive',\n    method: 'n8n API',\n  },\n};"
      },
      "id": "code-aggregate-results",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "position": [
        1780,
        300
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "id": "schedule-trigger-gd",
      "name": "Schedule Trigger (Every 12 hours)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        240,
        480
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## 🚀 Auto Import n8n Credentials from Google Drive (API Method)\n\n**✅ No file writing - works with restricted security settings!**\n\nThis workflow imports credentials using n8n REST API instead of CLI commands.\n\n### 🔧 Setup:\n\n1. **Edit Globals - Config node** ⚠️ IMPORTANT:\n   - `driveId` - Usually \"My Drive\"\n   - `folderId` - Your backup folder ID\n   - `fileName` - Credentials file name\n   - **`n8nApiKey`** - Your n8n API key (Settings → API)\n   - **`n8nUrl`** - Your n8n instance URL (e.g., https://n8n.yourdomain.com)\n\n2. **Configure Google Drive credentials**\n\n3. **Choose trigger**:\n   - Manual: On-demand import\n   - Schedule: Auto-import every 12 hours\n\n### 📋 Process Flow:\n\n1. Download credentials file from Google Drive\n2. Parse and validate JSON\n3. Loop through each credential\n4. Create via n8n API (POST /api/v1/credentials)\n5. Aggregate results and report status\n\n### ✅ Advantages:\n\n- No file system access needed\n- Works with strict security settings\n- Detailed per-credential status\n- Better error handling\n- Can handle duplicates gracefully",
        "height": 700,
        "width": 420,
        "color": 4
      },
      "id": "sticky-info-gd",
      "name": "📝 Setup Guide",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        140,
        580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ☁️ Download from Google Drive",
        "height": 240,
        "width": 580,
        "color": 5
      },
      "id": "sticky-drive-gd",
      "name": "Sticky Note - Drive",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🔄 Process & Loop",
        "height": 240,
        "width": 460,
        "color": 6
      },
      "id": "sticky-process-gd",
      "name": "Sticky Note - Process",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📥 Import via API",
        "height": 240,
        "width": 340,
        "color": 3
      },
      "id": "sticky-import-gd",
      "name": "Sticky Note - Import",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1500,
        220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ⚠️ Configure Here!\n\nSet:\n✅ Folder ID\n✅ File name\n✅ n8n API Key\n✅ n8n URL",
        "height": 140,
        "width": 200,
        "color": 7
      },
      "id": "sticky-edit-gd",
      "name": "Sticky Note - Edit",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        420,
        140
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Globals - Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger (Every 12 hours)": {
      "main": [
        [
          {
            "node": "Globals - Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals - Config": {
      "main": [
        [
          {
            "node": "Search Credentials File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Credentials File": {
      "main": [
        [
          {
            "node": "Download Credentials File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Credentials File": {
      "main": [
        [
          {
            "node": "Extract JSON from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract JSON from File": {
      "main": [
        [
          {
            "node": "Split Credentials for Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Credentials for Loop": {
      "main": [
        [
          {
            "node": "Create Credential via API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Credential via API": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "2"
}