n8n-import-credentials-from-google-drive.json
{
  "name": "Auto Import n8n Credentials from Google Drive",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual-gd",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        240,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "drive-id",
              "name": "driveId",
              "type": "string",
              "value": "My Drive"
            },
            {
              "id": "folder-id",
              "name": "folderId",
              "type": "string",
              "value": "1p447S9MWYcRpA6dmfDe-Kdc3-d8L2Lzr"
            },
            {
              "id": "file-name",
              "name": "fileName",
              "type": "string",
              "value": "n8n_backup_credentials.json"
            }
          ]
        },
        "options": {}
      },
      "id": "globals-config-gd",
      "name": "Globals - Google Drive Config",
      "type": "n8n-nodes-base.set",
      "position": [
        460,
        300
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "search",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "={{ $json.driveId }}",
          "cachedResultName": "My Drive"
        },
        "filters": {
          "name": "={{ $json.fileName }}"
        },
        "options": {
          "fields": [
            "id",
            "name",
            "modifiedTime"
          ]
        }
      },
      "id": "search-file-gd",
      "name": "Search Credentials File",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        680,
        300
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {}
      },
      "id": "download-file-gd",
      "name": "Download Credentials File",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        900,
        300
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "id": "extract-json-gd",
      "name": "Extract JSON from File",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1120,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Process the credentials data\nconst credentialsArray = $input.first().json.data;\n\n// Validate structure\nif (!Array.isArray(credentialsArray)) {\n  throw new Error('Invalid credentials format: expected an array');\n}\n\n// Return formatted data\nreturn {\n  json: {\n    credentials: credentialsArray,\n    credentialsString: JSON.stringify(credentialsArray, null, 2),\n    count: credentialsArray.length,\n    fileName: 'temp_credentials_import.json',\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "code-validate-gd",
      "name": "Validate & Format",
      "type": "n8n-nodes-base.code",
      "position": [
        1340,
        300
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "fileName": "={{ $json.fileName }}"
        }
      },
      "id": "convert-file-gd",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        1560,
        300
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/{{ $json.fileName }}",
        "options": {}
      },
      "id": "write-file-gd",
      "name": "Write to Temp File",
      "type": "n8n-nodes-base.writeReadFile",
      "position": [
        1780,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "command": "=npx n8n import:credentials --input=/tmp/{{ $json.fileName }}"
      },
      "id": "execute-import-gd",
      "name": "Execute Import Command",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        2000,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Parse the output from the import command\nconst stdout = $input.first().json.stdout || '';\nconst stderr = $input.first().json.stderr || '';\nconst credCount = $('Validate & Format').item.json.count;\n\n// Check for success indicators\nconst isSuccess = !stderr.includes('Error') && (stdout.includes('Successfully') || stdout.includes('imported'));\n\n// Extract details\nconst result = {\n  status: isSuccess ? '✅ Success' : '⚠️ Warning',\n  message: isSuccess \n    ? `Successfully imported ${credCount} credentials from Google Drive`\n    : 'Import completed with warnings or errors',\n  credentialsCount: credCount,\n  stdout: stdout.substring(0, 500), // Limit output length\n  stderr: stderr.substring(0, 500),\n  timestamp: new Date().toISOString(),\n  source: 'Google Drive'\n};\n\nreturn { json: result };"
      },
      "id": "code-result-gd",
      "name": "Format Import Result",
      "type": "n8n-nodes-base.code",
      "position": [
        2220,
        300
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "command": "=rm -f /tmp/{{ $('Validate & Format').item.json.fileName }}"
      },
      "id": "cleanup-gd",
      "name": "Cleanup Temp File",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        2440,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "id": "schedule-trigger-gd",
      "name": "Schedule Trigger (Every 12 hours)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        240,
        480
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## 🚀 Auto Import n8n Credentials from Google Drive\n\nThis workflow automatically imports credentials from Google Drive backup.\n\n### 🔧 Setup:\n\n1. **Edit Globals node**:\n   - `driveId` - Usually \"My Drive\"\n   - `folderId` - Your backup folder ID\n   - `fileName` - Credentials file name\n\n2. **Configure Google Drive credentials**\n\n3. **Choose trigger**:\n   - Manual: On-demand import\n   - Schedule: Auto-import every 12 hours\n\n### 📋 Process Flow:\n\n1. Search for credentials file in Google Drive\n2. Download the file\n3. Extract and validate JSON\n4. Write to temporary file\n5. Execute import via n8n CLI\n6. Return detailed status\n7. Clean up temporary files\n\n### ✅ Features:\n\n- Automatic file search\n- JSON validation\n- Error handling\n- Cleanup after import\n- Detailed status reporting",
        "height": 640,
        "width": 400,
        "color": 4
      },
      "id": "sticky-info-gd",
      "name": "📝 Setup Guide",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ☁️ Google Drive",
        "height": 240,
        "width": 580,
        "color": 5
      },
      "id": "sticky-drive-gd",
      "name": "Sticky Note - Drive",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🔄 Process",
        "height": 240,
        "width": 460,
        "color": 6
      },
      "id": "sticky-process-gd",
      "name": "Sticky Note - Process",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📥 Import & Cleanup",
        "height": 240,
        "width": 700,
        "color": 3
      },
      "id": "sticky-import-gd",
      "name": "Sticky Note - Import",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1700,
        220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ⚠️ Configure Here!\nEdit folder ID and file name",
        "height": 100,
        "width": 200,
        "color": 7
      },
      "id": "sticky-edit-gd",
      "name": "Sticky Note - Edit",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        420,
        160
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Globals - Google Drive Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger (Every 12 hours)": {
      "main": [
        [
          {
            "node": "Globals - Google Drive Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals - Google Drive Config": {
      "main": [
        [
          {
            "node": "Search Credentials File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Credentials File": {
      "main": [
        [
          {
            "node": "Download Credentials File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Credentials File": {
      "main": [
        [
          {
            "node": "Extract JSON from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract JSON from File": {
      "main": [
        [
          {
            "node": "Validate & Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Format": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Write to Temp File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write to Temp File": {
      "main": [
        [
          {
            "node": "Execute Import Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Import Command": {
      "main": [
        [
          {
            "node": "Format Import Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Import Result": {
      "main": [
        [
          {
            "node": "Cleanup Temp File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
